body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF; 
}

a {
    font-style: normal;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header*/

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4D5AE5;

}

.logo-second-part {
    color: #2E2F42;
}

.navigation {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
}